<header class="flex w-full px-4 py-6 items-baseline justify-between shadow-lg">
    <div class="w-1/2">
        <a href="" class="p-4 h-full text-3xl hover:opacity-75 transition-all">Gestão BRTEC</a>
    </div>
    <nav class="w-1/2 flex justify-end">
        <ul class="w-full flex items-center justify-end gap-4 text-center">
            <a href="" class="p-4 px-6 hover:bg-black hover:text-white hover:rounded transition-all">Home</a>
            <a href="" class="p-4 px-6 hover:bg-black hover:text-white hover:rounded transition-all">Produtos</a>
            <a href="" class="p-4 px-6 hover:bg-black hover:text-white hover:rounded transition-all">Consultas</a>
        </ul>
    </nav>
</header>